[submodule "waf-autooptions"]
	path = waf-autooptions
	url = ../waf-autooptions
[submodule "siginfo"]
	path = siginfo
	url = ../siginfo
[submodule "waftoolchainflags"]
	path = waftoolchainflags
	url = ../waf-toolchain-flags
[submodule "autooptions"]
	path = autooptions
	url = ../waf-autooptions
